@page "/"
@namespace LandOfRails_Website.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Startseite | LandOfRails - Traincraft/Immersive Railraoding/RealTrainMod - Server</title>
    <meta name="twitter:description" content="LandOfRails ist der erste deutsche Traincraft Server, Immersive Railroading Server, RealTrainMod Server und Zora no Densha Server. Wir erschaffen ein Netzwerk für Eisenbahnliebhaber in Minecraft! Viel Spaß ">
    <meta property="og:image" content="https://www.landofrails.net/assets/img/2019-02-09_21.04.32.png">
    <meta name="twitter:title" content="LandOfRails | Dein Eisenbahnnetzwerk">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://www.landofrails.net/assets/img/2019-02-09_21.03.39.png">
    <meta name="keywords" content="deutsch, minecraft, server, immersive railroading, ir, tc, traincraft, rtm, realtrain mod, immersive railroading server, traincraft server, deutscher immersive railroading server, zug, züge, deutsche züge, immersive railroading deutsche züge, eisenbahn, minecraft eisenbahn, zora no densha server, zora no densha">
    <meta name="description" content="LandOfRails ist der erste deutsche Traincraft Server, Immersive Railroading Server,RealTrainMod Server und Zora no Densha Server.
Wir erschaffen ein Netzwerk für Eisenbahnliebhaber in Minecraft! Viel Spaß ">
    <link rel="icon" type="image/png" sizes="2000x2000" href="assets/img/LOR%20Qualitativ%20klein%20neu.png">
    <link rel="icon" type="image/png" sizes="2000x2000" href="assets/img/LOR%20Qualitativ%20klein%20neu.png">
    <link rel="icon" type="image/png" sizes="2000x2000" href="assets/img/LOR%20Qualitativ%20klein%20neu.png">
    <link rel="icon" type="image/png" sizes="2000x2000" href="assets/img/LOR%20Qualitativ%20klein%20neu.png">
    <link rel="icon" type="image/png" sizes="2000x2000" href="assets/img/LOR%20Qualitativ%20klein%20neu.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="assets/css/Team-Clean.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
    <!--COOKIE-->
    <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css" />
    <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
    <script>window.addEventListener("load", function () { window.wpcc.init({ "corners": "small", "colors": { "popup": { "background": "#3d3535", "text": "#ffffff", "border": "#555555" }, "button": { "background": "#d0132d", "text": "#ffffff" } }, "position": "bottom-right", "content": { "href": "https://www.cookieinfo.org/", "link": "Stimme nicht zu", "button": "Ist mir egal!", "message": "Wir müssen dich leider darüber informieren, dass wir Kekse (Cookies) benutzen." } }) });</script>
    <script data-ad-client="ca-pub-5062491525616153" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    @*<base href="~/" />*@
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link href="css/site.css" rel="stylesheet" />
    @*<link href="LandOfRails Website.styles.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/smart-forms.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/jquery.mobile.custom.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/modernizr.js"></script>

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <script>(function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
</body>
</html>
