@page "/"
@page "/index"
<!-- Start: Parallax Background -->
<div data-bss-parallax-bg="true" style="background: url('assets/img/2018-05-24_01.27.22.png?h=90e830fe8013c04b62d2d0babda53ddb') center / cover;">
    <div class="container" style="padding-top: 75px;">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="row">
                    <div class="col">
                        <h1 class="d-inline-flex" style="font-style: normal;font-size: 35px;background-color: #d0132d;padding-left: 5px;color: rgb(255,255,255);padding-right: 5px;">Willkommen auf</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="d-inline-flex" style="font-style: normal;font-size: 35px;background-color: #d0132d;padding-left: 5px;padding-right: 5px;color: rgb(255,255,255);">LandOfRails</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="container" style="padding-top: 15px;">
        <div class="row">
            <div class="col-md-6 col-lg-8 offset-lg-0">
                <div class="row">
                    <div class="col">
                        <p class="d-inline-flex" style="color: rgb(255,255,255);font-size: 25px;background-color: rgba(0,0,0,0.5);padding-right: 5px;padding-left: 5px;">Eisenbahn in Minecraft?<br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="d-inline-flex" style="color: rgb(255,255,255);font-size: 25px;background-color: rgba(0,0,0,0.5);margin-left: -;padding-right: 5px;padding-left: 5px;">Traincraft | Immersive Railroading | RealTrainMod | Zora no Densha<br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="d-inline-flex" style="color: rgb(255,255,255);font-size: 25px;background-color: rgba(0,0,0,0.5);margin-left: -;padding-right: 5px;padding-left: 5px;">Wir sind aktuell&nbsp;<strong>@Years(new DateTime(2015, 3, 19), DateTime.Now) Jahre alt!</strong><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><a href="#los"><button class="btn btn-outline-light d-block" type="button" style="margin-top: 15px;"><i class="fas fa-tram"></i>&nbsp;Los geht's</button></a></div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container text-center" style="padding-top: 60px;"><a data-bss-hover-animate="flash" href="#features"><i class="fas fa-angle-down" style="font-size: 40px;color: rgb(255,255,255);"></i></a></div>
</div><!-- End: Parallax Background -->
<!-- Start: Features Boxed -->
<div class="features-boxed">
    <div class="container">
        <!-- Start: Features -->
        <div class="row justify-content-center features" id="features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="border rounded box">
                    <i class="fas fa-people-carry icon" style="color: #d0132d;"></i>
                    <h3 class="name">Großes Serverteam</h3>
                    <p class="description">Wir arbeiten stets daran unsere Server zu verbessern und eure Wünsche und Ideen umzusetzen.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="border rounded box" style="height: 292px;">
                    <i class="fas fa-gamepad icon" style="color: #d0132d;"></i>
                    <h3 class="name">Was ist LandOfRails?</h3>
                    <p class="description">LandOfRails ist der größte Minecraft Eisenbahn Server in Deutschland. Wir bieten dir ein realistisches und einzigartiges Bahnerlebnis!</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="border rounded box">
                    <i class="fas fa-hand-holding-heart icon" style="color: #d0132d;"></i>
                    <h3 class="name">Du bist uns wichtig</h3>
                    <p class="description">Du stellst einen wichtigen Teil von uns da und wir sind immer bereit dich bei allem zu unterstützen.</p>
                </div>
            </div>
        </div><!-- End: Features -->
    </div>
</div><!-- End: Features Boxed -->
<hr style="margin-top: 30px;"><!-- Start: Highlight Phone -->
<div class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-lg-0">
                <!-- Start: Intro -->
                <div class="intro">
                    <h2 class="text-uppercase" style="font-size: 25px;">Über LandOfRails</h2>
                    <hr style="margin-right: 430px;background-color: #d0132d;margin-bottom: 32px;margin-top: -10px;">
                    <p style="color: #343a40;font-size: 17px;">LandOfRails wurde am 19. März 2015 von MacTirom gegründet und aufgebaut. Damals als der überhaupt erste Traincraft Server in Deutschland bis heute zum größten Minecraft Eisenbahn Server Netzwerk. Wir sind mit der Erfahrung gewachsen und legen viel Wert auf Qualität, Innovation und Einzigartigkeit.</p>
                    <ul style="color: #42474d;">
                        <li style="font-size: 15px;margin-bottom: 10px;"><i class="far fa-check-circle" style="color: #d0132d;"></i>&nbsp;4 verschiedene und aktuelle Server</li>
                        <li style="font-size: 15px;margin-bottom: 10px;"><i class="far fa-check-circle" style="color: #d0132d;"></i>&nbsp;Einen Lag freien Server</li>
                        <li style="font-size: 15px;margin-bottom: 10px;"><i class="far fa-check-circle" style="color: #d0132d;"></i>&nbsp;Regelmäßige Updates mit vielen neuen Features</li>
                        <li style="font-size: 15px;margin-bottom: 10px;"><i class="far fa-check-circle" style="color: #d0132d;"></i>&nbsp;Viele außergewöhnliche 3D Models</li>
                        <li style="font-size: 15px;"><i class="far fa-check-circle" style="color: #d0132d;"></i>&nbsp;Große und freundliche Community</li>
                    </ul><a href="#los"><button class="btn btn-outline-light text-capitalize d-block" type="button" style="margin-top: 35px;background-color: #d0132d;"><i class="fas fa-tram"></i>&nbsp;Los geht's</button></a>
                </div><!-- End: Intro -->
            </div>
            <div class="col-auto text-center m-auto"><img class="rounded img-fluid border border-danger shadow-lg" src="assets/img/novaskin-minecraft-wallpaper.png" style="width: 450px;"></div>
        </div>
    </div>
</div><!-- End: Highlight Phone -->
<hr style="margin-top: 30px;">
<!-- Start: Highlight Clean -->
<div id="los" class="highlight-clean" style="background-color: rgba(255,255,255,0);">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center" style="font-size: 25px;">Und, überzeugt?<br>Los geht's!</h2>
            <hr style="background-color: #d0132d;margin-bottom: 32px;margin-top: -10px;margin-right: 210px;margin-left: 210px;">
            <p class="text-center" style="color: #343a40;">Wir bieten dir zwei Möglichkeiten um auf unsere Server zu kommen. Den von uns selbst entwickelten LandOfRails Launcher, sowie den klassischen Technic Launcher. Du hast die Wahl!</p>
        </div><!-- End: Intro -->
        <!-- Start: Buttons -->
        <div class="buttons"><a class="btn" role="button" href="technic" style="background: #d0132d;color: var(--bs-white);">Technic Launcher (EMpfohlen)</a><a class="btn btn-dark" role="button" href="launcher" style="color: #222222;background: #d0d0d0;">LandOfRails Launcher (Beta)</a></div><!-- End: Buttons -->
    </div>
</div><!-- End: Highlight Clean -->

@code
{
    int yearsOld = 0;

    protected override void OnInitialized()
    {
        yearsOld = Years(new DateTime(2015, 3, 19), DateTime.Now);
        base.OnInitialized();
    }

    int Years(DateTime start, DateTime end)
    {
        return (end.Year - start.Year - 1) +
               (((end.Month > start.Month) ||
                 ((end.Month == start.Month) && (end.Day >= start.Day))) ? 1 : 0);
    }
}
