@page "/launcher"
<!-- Start: Projects Horizontal -->
<div class="projects-horizontal" style="height: 661px;">
    <div class="container">
        <!-- Start: Projects -->
        <div class="row projects">
            <div class="col-sm-6 col-xl-5 item">
                <div class="row">
                    <div class="col-xl-12">
                        <h1 class="text-uppercase name" style="font-size: 30px;font-family: Roboto, sans-serif;color: rgb(0,0,0);font-weight: normal;">LandOfRails Launcher (Beta)</h1>
                        <p class="text-start description" style="font-family: Roboto, sans-serif;color: rgb(0,0,0);font-size: 15px;"><br>Mit unserem Launcher kannst du einfach und unkompliziert jedes unserer Modpacks starten und auf unseren Servern spielen. Dieser erhält jederzeit nützliche Updates und wird immer auf dem neusten Stand gehalten.<br>Leider gibt es auch noch einige Fehler. So wird der Launcher als Virus erkannt und unterstützt noch keine Microsoft Konten.<br><br>Was du brauchst?&nbsp;Windows. Das ist alles =)<br>Du hast noch Schwierigkeiten? Dann schau doch mal ins&nbsp;<a href="hilfe.html">FAQ</a>&nbsp;oder frag uns im&nbsp;<a href="https://discord.gg/hKMrchX">Discord</a>.<br><br><em>(Du hast Sicherheitsbedenken? Unser Launcher ist vollständig&nbsp;</em><a href="https://github.com/MarkenJaden/LandOfRails-Launcher">Open Source</a>, somit kann jeder nachvollziehen wie dort welcher Prozess verarbeitet wird. Du kannst also sicher sein, dass wir nichts mit deinen Daten machen, außer dich ins Spiel einloggen.)<br><br></p><a class="btn d-block w-100" role="button" style="background-color: #d0132d;font-family: Roboto, sans-serif;color: rgb(255,255,255);" href="https://github.com/MarkenJaden/LandOfRails-Launcher/releases/latest/download/LandOfRails-Launcher.exe">Herunterladen</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-7 item"><img style="width: 650px;" src="assets/img/lor%20laptop.png"></div>
        </div><!-- End: Projects -->
    </div>
</div><!-- End: Projects Horizontal -->

@code { }
