@inherits LayoutComponentBase
    <!-- Start: Navigation Clean -->
<NavMenu />
@Body
<!-- Start: Footer Basic -->
<div class="text-center footer-basic" style="background-color: rgb(208,19,45);">
    <footer class="text-center" style="background-color: rgb(208,19,45);">
        <!-- Start: Social Icons -->
        <div id="social" class="social" style="background-color: #d0132d;"><a href="https://www.instagram.com/landofrails/" target="_blank"><i class="fab fa-instagram" style="color: rgb(255,255,255);"></i></a><a href="https://www.youtube.com/channel/UC8uOnFX4EXntMz3ieD42NLw" target="_blank"><i class="fab fa-youtube" style="color: rgb(255,255,255);"></i></a><a href="https://twitter.com/landofrails" target="_blank"><i class="icon ion-social-twitter" style="color: rgb(255,255,255);"></i></a><a href="https://www.facebook.com/landofrails" target="_blank"><i class="icon ion-social-facebook" style="color: rgb(255,255,255);"></i></a><a href="https://discord.gg/hKMrchX" target="_blank"><i class="fab fa-discord" style="color: rgb(255,255,255);"></i></a></div><!-- End: Social Icons -->
        <!-- Start: Links -->
        <ul class="list-inline" style="background-color: #d0132d;color: rgb(255,255,255);">
            <li class="list-inline-item"><a style="font-family: Roboto, sans-serif;" href="index.html">Start</a></li>
            <li class="list-inline-item"><a style="font-family: Roboto, sans-serif;" href="hilfe.html">FAQ</a></li>
            <li class="list-inline-item"><a style="font-family: Roboto, sans-serif;" href="kontakt.html">Kontakt</a></li>
            <li class="list-inline-item"><a style="font-family: Roboto, sans-serif;" href="impressum.html">Impressum</a></li>
            <li class="list-inline-item"><a style="font-family: Roboto, sans-serif;" href="datenschutz.html">Datenschutz<br></a></li>
        </ul><!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright" style="color: rgb(255,255,255);font-family: Roboto, sans-serif;">LandOfRails © @DateTime.Today.Year</p><!-- End: Copyright -->
    </footer>
</div><!-- End: Footer Basic -->
@*<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>*@
