<!-- Start: Navigation Clean -->
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: #d0132d;">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img data-bss-hover-animate="pulse" src="assets/img/LOR%20Qualitativ%20neu%20weiß.png" style="width: 200px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto" style="font-size: 18px;">
                    <li class="nav-item" style="color: rgb(255,255,255);"><a class="nav-link" data-bss-hover-animate="pulse" style="filter: blur(0px) brightness(100%);color: rgb(255,255,255);font-family: Roboto, sans-serif;font-weight: normal;" href="index.html"><i class="fas fa-home"></i>&nbsp;Start</a></li>
                    <li class="nav-item" style="color: rgb(255,255,255);"><a class="nav-link" data-bss-hover-animate="pulse" style="filter: blur(0px) brightness(100%);color: rgb(255,255,255);font-family: Roboto, sans-serif;font-weight: normal;" href="https://discord.gg/hKMrchX" target="_blank"><i class="fab fa-discord"></i>&nbsp;Discord</a></li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" style="color: rgb(255,255,255);font-family: Roboto, sans-serif;" href="hilfe.html"><i class="far fa-paper-plane"></i>&nbsp;FAQ</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" data-bss-hover-animate="pulse" style="color: rgb(255,255,255);" href="#"><i class="far fa-comments"></i>&nbsp;Kontakt</a>
                        <div class="dropdown-menu"><a class="dropdown-item" data-bss-hover-animate="pulse" style="font-family: Roboto, sans-serif;color: rgb(0,0,0);background-color: rgba(255,255,255,0);" href="kontakt.html">Kontakt</a><a class="dropdown-item" data-bss-hover-animate="pulse" style="color: rgb(0,0,0);background-color: rgba(255,255,255,0);" href="https://landofrails.typeform.com/to/NYQiI7" target="_blank">Bewerbung</a></div>
                    </li>
                    <li class="nav-item"><a class="btn btn-outline-light" role="button" style="margin-left: 40px;" href="https://www.landofrails.net#los"><i class="fas fa-tram"></i>&nbsp;Los geht's</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div><!-- End: Navigation Clean -->
@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">LandOfRails Website</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }*@
