@page "/kontakt"

<!-- Start: Contact Form Clean -->
<div class="contact-clean" style="background-image: url(&quot;assets/img/2019-02-09_21.04.32.png&quot;);">
    <form data-bss-subject="LandOfRails Kontakt" data-bss-recipient="169f00bca744efa1d3411577cc281865">
        <h2 class="text-center" style="font-family: Roboto, sans-serif;color: rgb(0,0,0);font-weight: normal;">Kontaktiere uns</h2>
        <p class="text-center" style="padding: 0px 0px 39px 0px;font-family: Roboto, sans-serif;color: rgb(0,0,0);">Bei Problemen helfen wir gerne weiter&nbsp;<i class="fas fa-hand-peace"></i><br>Dein Anliegen hat höchste Priorität.</p><!-- Start: Success Example -->
        <div class="form-group mb-3"><input class="form-control" type="text" style="color: rgb(0,0,0);" name="name" placeholder="Name"></div><!-- End: Success Example -->
        <!-- Start: Error Example -->
        <div class="form-group mb-3"><input class="form-control" type="email" style="color: rgb(0,0,0);" name="email" placeholder="E-Mail"></div><!-- End: Error Example -->
        <div class="form-group mb-3"><textarea class="form-control" style="color: rgb(0,0,0);" name="message" placeholder="Nachricht" rows="14"></textarea></div>
        <div class="text-center form-group mb-3"><button class="btn btn-danger d-block w-100" style="background-color: rgb(208,19,45);" type="submit">senden</button></div>
    </form>
</div><!-- End: Contact Form Clean -->

@code {

}
