@page "/technic"

<!-- Start: Projects Horizontal -->
<div class="projects-horizontal" style="height: 661px;">
    <div class="container">
        <!-- Start: Projects -->
        <div class="row projects">
            <div class="col-sm-6 col-xl-5 item">
                <div class="row">
                    <div class="col-xl-12">
                        <h1 class="text-uppercase name" style="font-size: 30px;font-family: Roboto, sans-serif;color: rgb(0,0,0);font-weight: normal;">Technic Launcher</h1>
                        <p class="text-start description" style="font-family: Roboto, sans-serif;color: rgb(0,0,0);"><br>Mit dem Technic Launcher kannst du unser Modpack, sowie zahlreiche weitere Modpacks aus aller Welt spielen.<br>Sobald du den Launcher heruntergeladen hast und dich eingeloggt hast kannst du nach "LandOfRails" suchen. Folgende Modpacks gehören zu uns: "<a href="https://www.technicpack.net/modpack/landofrails-1122.1188936" target="_blank"><strong><em><span style="text-decoration: underline;">LandOfRails IR-FB</span></em></strong></a>", "<a href="https://www.technicpack.net/modpack/landofrails-1122-rtm.1388427" target="_blank"><strong><span style="text-decoration: underline;">LandOfRails RTM</span></strong></a>", "LandOfRails ZnD" (noch nicht öffentlich) und "<a href="https://www.technicpack.net/modpack/landofrails-1710.1087169" target="_blank"><strong><span style="text-decoration: underline;">LandOfRails TC</span></strong></a>".<br><br>Was du brauchst?&nbsp;<a href="https://www.java.com/de/" target="_blank">Java 8</a>&nbsp;und Windows. Das ist alles =)<br>Du hast noch Schwierigkeiten? Dann schau doch mal ins&nbsp;<a href="hilfe.html">FAQ</a>&nbsp;oder frag uns im&nbsp;<a href="https://discord.gg/hKMrchX" target="_blank">Discord</a>.<br><br></p>
                    </div>
                </div><a class="btn btn-danger d-block w-100" role="button" style="background-color: rgb(208,19,45);font-family: Roboto, sans-serif;" href="https://www.technicpack.net/download" target="_blank">Herunterladen</a>
            </div>
            <div class="col-sm-6 col-xl-7 item"><img class="rounded border" style="width: 650px;" src="https://cdn.discordapp.com/attachments/424913848840093706/543887610414628888/2019-02-09_21.04.32.png"></div>
        </div><!-- End: Projects -->
    </div>
</div><!-- End: Projects Horizontal -->

@code {

}
